<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./calendar.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .calendar {
            width: 100%;
            max-width: 800px;
            margin: 20px auto;
            border-collapse: collapse;
        }
        .calendar th, .calendar td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
            vertical-align: top;
        }
        .calendar th {
            background-color: rgb(9, 108, 246);
            color: white;
        }
        .time-slot {
            color: #555;
        }
        .request-slot, .accepted-slot, .attending-slot, .denied-slot {
            text-decoration: line-through;
        }
        .accepted-slot {
            background-color: #d4edda;
            color: #155724;
            text-decoration: line-through;
        }
        .denied-slot {
            background-color: #f8d7da;
            color: #721c24;
            text-decoration: line-through;
        }
        .attending-slot {
            background-color: #fff3cd;
            color: #856404;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/adminstatus'>Admin Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="calendar" href='/calendar'>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="demos" href='/demos'>Demos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lunchplan" href='/lunchplan'>Lunchplan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="machine" href='/machine/bench-press'>Machine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="menu" href='/menu'>Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href='/teacherdashboard'>Teacher Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="dropdown">
        <button class="dropbtn">Current Week: <%= currentWeek %></button>
        <div class="dropdown-content">
            <% weeks.forEach(function(week) { %>
                <a href="#"><%= week %></a>
            <% }); %>
        </div>
    </div>
    <div>
        <fieldset class="halfbox">
            <legend>Key:</legend>
            <button type="button" class="request" disabled>Request</button>
            <input type="checkbox" id="accepted" name="accepted" checked />
            <label for="accepted">Teacher Available</label>
            <svg width="100" height="30" class="inline">
                <rect width="100" height="60" x="40" y="20" fill="red"/>
            </svg>
            <label for="taken">Attending</label>
        </fieldset>
    </div>
    <div>
        <table class="calendar">
            <tr>
                <% weekDays.forEach(function(day) { %>
                    <th><%= day %></th>
                <% }); %>
            </tr>
            <% let timeSlots = Object.keys(weeklyCalendar['Monday']); %>
            <% timeSlots.forEach(function(time) { %>
                <tr>
                    <% weekDays.forEach(function(day) { %>
                        <td class="<%= weeklyCalendar[day][time] === 'accepted' ? 'accepted-slot' : (weeklyCalendar[day][time] === 'denied' ? 'denied-slot' : 'time-slot') %>">
                            <%= time %>
                            <% if (weeklyCalendar[day][time] !== 'Open') { %>
                                <%= weeklyCalendar[day][time] %>
                            <% } else { %>
                                <button type="button" class="request" onclick="requestSlot('<%= currentWeek %>', '<%= day %>', '<%= time %>')">Request</button>
                            <% } %>
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
        </table>
    </div>

    <script>
        function requestSlot(week, day, time) {
            fetch('/request-slot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ week, day, time, user: 'YourUsername' })  // Replace 'YourUsername' with dynamic session username if available
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      alert(data.message);
                      location.reload();  // Reload the page to update the button state
                  } else {
                      alert(data.message);
                  }
              });
        }
    </script>
</body>
</html>
