<html>
<head>
    <link rel="stylesheet" href="/menu.css">
    <title>TrinFitness Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="/">
          </a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/adminstatus'> Admin Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id = "calendar"href='/calendar'> Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "demos"href='/demos'> Demos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id = "lunchplan"href='/lunchplan'> lunchplan </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id = "machine"href='/machine/bench-press'> Machine </a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" id = "menu"href='/menu'>Menu</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" id = ""href='/teacherdashboard'> Teacher Dashboard</a>
              </li>
          </ul>
        </div>
      </nav>
    <h1 class="menu_header">Trinity Cafeteria Menu</h1>
    <div class="howto">Select a week to see the Trinity lunch for that week.</div><br>
    <div class="howto">Hover over a food option to see more information about it.</div><br>
    <div class="dropdown">
        <button class="dropbtn">Select Week</button>
        <div class="dropdown-content">
            <% weeks.forEach(function(week) { %>
              <a href="#"><%= week %></a>
            <% }); %>
        </div>
    </div>
   
    <% weeks.forEach(function(week) { %>
      <h2><%= week %></h2>
      <% menuOptions[week].forEach(function(option) { %>
          <div>
              <strong><%= option.name %></strong> - Calories: <%= option.calories %>, Protein: <%= option.protein %>, Carbs: <%= option.carbs %>, Fat: <%= option.fat %>
          </div>
      <% }); %>
  <% }); %>
</body>
</html>
