<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/adminstatus'>Admin Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/calendar'>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/demos'>Demos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/lunchplan'>Lunchplan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/machine/bench-press'>Machine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/menu'>Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/teacherdashboard'>Teacher Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        
        <h1>Menu</h1>
        
        <h2>Upload New Menu</h2>
        <form action="/menu/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="menuFile">Upload file</label>
                <input type="file" class="form-control-file" id="menuFile" name="menuFile" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        <% if (uploadedFile && fileType === 'text') { %>
            <h2>Uploaded File Content</h2>
            <pre><%= uploadedFile %></pre>
        <% } else if (uploadedFile && fileType === 'image') { %>
            <h2>Uploaded Image</h2>
            <img src="/uploads/<%= uploadedFile %>" alt="Uploaded Image" style="max-width: 100%; height: auto;">
        <% } %>

        <div class="dropdown">
            <button class="dropbtn">Select Week</button>
            <div class="dropdown-content">
                <% weeks.forEach(function(week) { %>
                    <a href="#"><%= week %></a>
                <% }); %>
            </div>
        </div>
        <% weeks.forEach(function(week) { %>
            <h2><%= week %></h2>
            <ul>
                <% menuOptions.filter(option => option.week === week).forEach(function(option) { %>
                    <li>
                        <%= option.name %> - Calories: <%= option.calories %>, Protein: <%= option.protein %>, Carbs: <%= option.carbs %>, Fat: <%= option.fat %>
                    </li>
                <% }); %>
            </ul>
        <% }); %>
    </div>
</body>
</html>
