<html>
<head>
    <link rel="stylesheet" href="/menu.css">
    <title>TrinFitness Menu</title>
</head>

<body>
    <h1 class="menu_header">Trinity Cafeteria Menu</h1>
    <div class="howto">Select a week to see the Trinity lunch for that week.</div><br>
    <div class="howto">Hover over a food option to see more information about it.</div><br>
    <div class="dropdown">
        <button class="dropbtn">Select Week</button>
        <div class="dropdown-content">
            <% weeks.forEach(function(week) { %>
              <a href="#"><%= week %></a>
            <% }); %>
        </div>
    </div>
    <table>
        <tr>
            <td>
                <table class="menu_calendar">
                    <tr class="menu_tr">
                        <th class="menu_th">Monday</th>
                        <th class="menu_th">Tuesday</th>
                        <th class="menu_th">Wednesday</th>
                        <th class="menu_th">Thursday</th>
                        <th class="menu_th">Friday</th>
                    </tr>
                    <% menuOptions.forEach(function(optionRow) { %>
                        <tr class="menu_tr">
                            <% optionRow.forEach(function(option) { %>
                                <td>
                                    <div class="option_id">
                                        <button class="option_id"><%= option.name %></button>
                                        <div class="option_dropdown">Calories: <%= option.calories %></div>
                                        <div class="option_dropdown">Protein: <%= option.protein %></div>
                                        <div class="option_dropdown">Carbs: <%= option.carbs %></div>
                                        <div class="option_dropdown">Fat: <%= option.fat %></div>
                                    </div>
                                </td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
